<a href="https://colab.research.google.com/github/Drishti05/Python-for-Data-Science-Machine-Learning-from-A-Z/blob/main/Pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Creating a database

In [56]:
import pandas as pd
import numpy as np

In [2]:
data={'Date':['2016-03-01','2016-03-02','2016-03-01','2016-03-03','2016-03-02','2016-03-03'],'Type':['a','b','c','a','a','c'],'Value':[11.432,13.031,20.784,99.906,1.303,20.784]}

In [3]:
df=pd.DataFrame(data,columns=['Date','Type','Value'])

In [4]:
df

         Date Type   Value
0  2016-03-01    a  11.432
1  2016-03-02    b  13.031
2  2016-03-01    c  20.784
3  2016-03-03    a  99.906
4  2016-03-02    a   1.303
5  2016-03-03    c  20.784

In [24]:
s= pd.Series([3,-5,7,4],index=['a','b','c','d'])

In [25]:
s

a    3
b   -5
c    7
d    4
dtype: int64

# Reshaping Data

## Pivot

In [5]:
df1=df.pivot(index='Date',columns='Type',values='Value')

In [6]:
df1

Type             a       b       c
Date
2016-03-01  11.432     NaN  20.784
2016-03-02   1.303  13.031     NaN
2016-03-03  99.906     NaN  20.784

## Pivot Table

In [7]:
df4=pd.pivot_table(df,values='Value',index='Date',columns='Type')

In [32]:
df4

Type             a       b       c
Date
2016-03-01  11.432     NaN  20.784
2016-03-02   1.303  13.031     NaN
2016-03-03  99.906     NaN  20.784

## Stack / Unstack

In [9]:
stacked = df.stack()

In [10]:
stacked

0  Date     2016-03-01
   Type              a
   Value        11.432
1  Date     2016-03-02
   Type              b
   Value        13.031
2  Date     2016-03-01
   Type              c
   Value        20.784
3  Date     2016-03-03
   Type              a
   Value        99.906
4  Date     2016-03-02
   Type              a
   Value         1.303
5  Date     2016-03-03
   Type              c
   Value        20.784
dtype: object

In [11]:
stacked.unstack()

         Date Type   Value
0  2016-03-01    a  11.432
1  2016-03-02    b  13.031
2  2016-03-01    c  20.784
3  2016-03-03    a  99.906
4  2016-03-02    a   1.303
5  2016-03-03    c  20.784

## Melt

In [12]:
pd.melt(df,id_vars=['Date'],value_vars=['Type','Value'],value_name='Observations')

          Date variable Observations
0   2016-03-01     Type            a
1   2016-03-02     Type            b
2   2016-03-01     Type            c
3   2016-03-03     Type            a
4   2016-03-02     Type            a
5   2016-03-03     Type            c
6   2016-03-01    Value       11.432
7   2016-03-02    Value       13.031
8   2016-03-01    Value       20.784
9   2016-03-03    Value       99.906
10  2016-03-02    Value        1.303
11  2016-03-03    Value       20.784

## Iteration

In [13]:
for items in df.iteritems():
  print(items)

('Date', 0    2016-03-01
1    2016-03-02
2    2016-03-01
3    2016-03-03
4    2016-03-02
5    2016-03-03
Name: Date, dtype: object)
('Type', 0    a
1    b
2    c
3    a
4    a
5    c
Name: Type, dtype: object)
('Value', 0    11.432
1    13.031
2    20.784
3    99.906
4     1.303
5    20.784
Name: Value, dtype: float64)

In [14]:
for items in df.iterrows():
  print(items)

(0, Date     2016-03-01
Type              a
Value        11.432
Name: 0, dtype: object)
(1, Date     2016-03-02
Type              b
Value        13.031
Name: 1, dtype: object)
(2, Date     2016-03-01
Type              c
Value        20.784
Name: 2, dtype: object)
(3, Date     2016-03-03
Type              a
Value        99.906
Name: 3, dtype: object)
(4, Date     2016-03-02
Type              a
Value         1.303
Name: 4, dtype: object)
(5, Date     2016-03-03
Type              c
Value        20.784
Name: 5, dtype: object)

### Selecting

In [15]:
df1.loc[:,(df1>1).any()]

Type             a       b       c
Date
2016-03-01  11.432     NaN  20.784
2016-03-02   1.303  13.031     NaN
2016-03-03  99.906     NaN  20.784

In [16]:
df1.loc[:,(df1>1).all()]

Type             a
Date
2016-03-01  11.432
2016-03-02   1.303
2016-03-03  99.906

In [17]:
df1.loc[:,df1.isnull().any()]

Type             b       c
Date
2016-03-01     NaN  20.784
2016-03-02  13.031     NaN
2016-03-03     NaN  20.784

In [18]:
df1.loc[:,df1.notnull().all()]

Type             a
Date
2016-03-01  11.432
2016-03-02   1.303
2016-03-03  99.906

### Indexing with isin

In [47]:
data1={'Country':['Belgium','India','Brazil'],'Capital':['Brussels','New Delhi','Brasilia'],'Population':[11190846,1303171035,207847528]}
new_df=pd.DataFrame(data1,columns=['Country','Capital','Population'])

In [48]:
new_df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [21]:
new_df[(new_df.Country.isin(df.Type))]

Empty DataFrame
Columns: [Country, Capital, Population]
Index: []

In [22]:
df1.filter(items=["a","b"])

Type             a       b
Date
2016-03-01  11.432     NaN
2016-03-02   1.303  13.031
2016-03-03  99.906     NaN

In [23]:
new_df.select(lambda x: not x%5)

AttributeError: ignored

In [26]:
s.where(s>0)

a    3.0
b    NaN
c    7.0
d    4.0
dtype: float64

In [34]:
df4.query('a>c')

Type             a   b       c
Date
2016-03-03  99.906 NaN  20.784

## Setting/Resetting Index

In [36]:
new_df.set_index('Country')

           Capital  Population
Country
Belgium   Brussels    11190846
India    New Delhi  1303171035
Brazil    Brasilia   207847528

In [37]:
df4=df.reset_index()

In [38]:
df4

   index        Date Type   Value
0      0  2016-03-01    a  11.432
1      1  2016-03-02    b  13.031
2      2  2016-03-01    c  20.784
3      3  2016-03-03    a  99.906
4      4  2016-03-02    a   1.303
5      5  2016-03-03    c  20.784

In [41]:
new_df=new_df.rename(index=str,columns={"Country":"cntry","Capital":"cptl","Population":"ppltn"})

In [42]:
new_df

     cntry       cptl       ppltn
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

## Reindexing

In [43]:
s2=s.reindex(['a','c','d','e','b'])

In [44]:
s2

a    3.0
c    7.0
d    4.0
e    NaN
b   -5.0
dtype: float64

### Forward Filling

In [49]:
new_df.reindex(range(4),method='ffill')

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
3   Brazil   Brasilia   207847528

### Backward Filling

In [51]:
ser=pd.Series([3,-5,7,4])

In [52]:
s3=ser.reindex(range(5),method='bfill')

In [53]:
s3

0    3.0
1   -5.0
2    7.0
3    4.0
4    NaN
dtype: float64

### MultiIndexing

In [57]:
arrays=[np.array([1,2,3]),np.array([5,4,3])]

In [58]:
arrays

[array([1, 2, 3]), array([5, 4, 3])]

In [59]:
df=pd.DataFrame(np.random.rand(3,2),index=arrays)

In [60]:
df

            0         1
1 5  0.801009  0.435373
2 4  0.759937  0.312511
3 3  0.056665  0.902010